:root {
    font-size: 1em;
}


.box {
    background: transparent;
    backdrop-filter: blur(10px);
}
body {
    height: 100vh;
    background-image: url('https://img.freepik.com/free-vector/gradient-stock-market-concept_23-2149166910.jpg?w=1380&t=st=1693244959~exp=1693245559~hmac=4b5f18a87e634f40ec565395580483fa4a456b95274c530866f26c2571b97d2e');
    background-size: cover;
    background-position: center;
}

#inputNumber {
    background: none;
    color: #fff;
    /*border: 1px solid;*/
    outline: 0;
    border-width: 0 0 2px 2px;
    border-color: #fff;
}

#inputNumber::placeholder {
    color: #fff;
}

#inputNumber::-webkit-inner-spin-button {
    -webkit-appearance: none;
    margin: 0;
}

table tr td, table tr th {
    color: #fff !important;
    background-color: rgba(210, 130, 240, 0) !important;
}

a tr {
    font-weight: normal;
}

.well {
    background: none;
    height: 320px;
}

.table-scroll tbody {
    position: absolute;
    overflow-y: scroll;
    height: 200px;
}

.table-scroll tr {
    width: 100%;
    table-layout: fixed;
    display: inline-table;
}

.link-row {
    cursor: pointer;
}

.table-scroll th {
    border: none;
}

.table-hover a:hover{
    background-color: rgba(255, 255, 255, 0.1);
}

::-webkit-scrollbar {
    width: 10px;
    height: 10px;
}

::-webkit-scrollbar-thumb {
    background: rgba(255, 255, 255, 0.5);
}

::-webkit-scrollbar-track {
    background: rgba(0, 0, 0, 0);
}

.text-danger {
    color: #ff9e9e !important;
}

.text-success {
    color: #b0ff9e !important;
}